* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.bar {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.list {
  display: flex;
  gap: 24px;
  list-style: none;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.msgbox {
  width: 300px;
  height: 100px;
  padding: 8px;
}

button {
  height: 32px;
}
